body{
  margin:0;
  padding:0;
  font-family: Sans-serif;
  height:100vh;
}
.profilepic{
  border-radius: 50px;
  border:1px solid black;
  width:50px;
  height:50px;
  margin-left: 30px;
  float:right;
}
.profilepic:hover{
  cursor: pointer;
}
.dropdown {
  margin-right: 45px;
  float:right;
}
.spacer{
  background: transparent;
  height: 55px;
}
.section{
  color:black;
  padding: 2px;
  padding-left: 5px;
}
.section:hover{
  transition-duration: .2s;
  background-color: lightgrey;
  color:black;
}
.line2{
  padding-top:10px;
  border: 1px solid grey;
}
.dropdown-box{
  border-radius: 5px;
  font-size: small;
  padding-top:3px;
  padding-bottom:3px;
  width:90px;
  background-color: white;
  border:1px solid black;
}
.dropdown-content {
  display:none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-bar{
  color:grey;
  background-color: #2e2e2e;
  border:1px solid white;
  border-radius: 5px;
  padding:7px;
  width:200px;
  outline: none;
  transition-duration: .5s;
}
.search-bar:hover{
  transition-duration: .5s;
  width:400px;
}
.search-bar:focus{
  width:400px;
}
.top-bar{
  display:flow-root;
  padding-left:15px;
  padding-top:10px;
  padding-bottom:10px;
  background-color: #2e2e2e;
}
.search-bar{
  color:grey;
  background-color: #2e2e2e;
  border:1px solid white;
  border-radius: 5px;
  padding:7px;
  width:200px;
  outline: none;
  transition-duration: .5s;
}
.search-bar:hover{
  transition-duration: .5s;
  width:400px;
}
.search-bar:focus{
  width:400px;
}
.project-top{
  display: flex;
  background-color: #f1f1f1;
  height:60px;
  padding:15px;
  position: relative;
}
.title{
  font-size: x-large;
  padding-top:15px;
  margin-left:10px;
}
.title-folder{
  height:50px;
  width:50px;
}
.container{
  width:75%;
  padding:50px;
}
.options-bar{
  background-color: #f1f1f1;
  padding:5px;
  border-bottom: 1px solid grey;
}
.option{
  color:black;
  padding:5px;
  margin-left:30px;
}
.option:hover{
  cursor:pointer;
  border-bottom:2px solid grey;
}
.option-selected:hover{
  cursor:pointer;
}
.option-selected{
  border-bottom:2px solid #fe5e00;
  padding:5px;
  margin-left:30px;
}
.issue-desc{
  color:grey;
  padding:10px;
  border:1px solid grey;
  min-width:500px;
}
.issue-data{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 20px;
  color:grey;
  padding:10px;
  border:1px solid grey;
  min-width:500px;
  min-height:200px;
}
.info{
  font-weight: bold;
  padding:10px;
  border:1px solid grey;
  width:100px;
}
.info-top{
  border-top-left-radius: 5px;
  font-weight: bold;
  padding:10px;
  border:1px solid grey;
  width:100px;
}
.info-data{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  padding:10px;
  border:1px solid grey;
  width:100px;
}
.issue-title-top{
  border-top-right-radius: 5px;
  color:grey;
  padding:10px;
  border:1px solid grey;
  min-width:500px;
}
.issue-title{
  color:grey;
  padding:10px;
  border:1px solid grey;
  min-width:500px;
}
.info-bottom{
  border-bottom-left-radius: 5px;
  font-weight: bold;
  padding:10px;
  border:1px solid grey;
  width:100px;
}
.issue-file{
  border-bottom-right-radius: 5px;
  line-height: 20px;
  color:grey;
  padding:10px;
  border:1px solid grey;
  min-width:500px;
}
.code1{
  padding:10px;
  width:500px;
  height:700px;
  border: 1px solid grey;
  overflow: scroll;
}
.code2{
  padding:10px;
  width:500px;
  height:700px;
  border: 1px solid black;
  overflow: scroll;
}
.code-container{
  width:100%;
  height:100vh;
  display: inline-flex;
}
.green{
  background-color:  #d3fdd3;
}
.dark-green{
  background-color:  #8efb8e;
}
.red{
  background-color:  #ffe4e1;
}
.dark-red{
  background-color:  #ffb6c1;
}
.danger{
  border:1px solid red;
  padding:15px;
}
